// Sassy

@import "leaflet/dist/leaflet";
@import "leaflet.markercluster/dist/MarkerCluster";
@import "leaflet.markercluster/dist/MarkerCluster.Default";

@import 'bulma/bulma.sass';

@font-face {
  font-family: 'creativecommons';
  src: url("CCSymbols.woff2") format("woff2");
}

.is-centered > div {
    margin: auto;
    width: 50%;
  }  

#mymap {
    height: 100vh;
    width: 100vw;
}

.under-button {
    margin: 3px;
}