<%= provide(:title, "Castelli") %>

<div id="mymap"></div>

<script type="module">
    import "leaflet";
    import "leaflet.markercluster";

    var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors | <span style="font-family:creativecommons">&#127245;</span> <a href="https://wikidata.org/">Wikidata</a>'
        });
        
    var latlng = L.latLng(42.135, 12.678);

    var map = L.map('mymap', {center: latlng, zoom: 7, layers: [tiles]});
    
    <% @regioni.each do |reg| %>
        var <%= snake_case(reg) %> = L.markerClusterGroup();
    <% end %>

    <%= render partial: "castle", collection: @castles, cached: true %>
    
    <% @regioni.each do |reg| %>
        map.addLayer(<%= snake_case(reg) %>);
    <% end %>

</script>
